[submodule "sangho"]
	path = sangho
	url = https://github.com/jsangho/cloud.jsangho.api.git
[submodule "www"]
	path = www
	url = https://github.com/jsangho/cloud.jsangho.www.git
[submodule "vault"]
	path = vault
	url = https://github.com/jsangho/cloud.jsangho.docs.git
