[submodule "backend"]
	path = backend
	url = https://github.com/jsangho/cloud.jsangho.api.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/jsangho/cloud.jsangho.www.git
[submodule "docs"]
	path = docs
	url = https://github.com/jsangho/cloud.jsangho.docs.git
