[submodule "backend"]
	path = backend
	url = https://github.com/jsangho/cloud.jsangho.api.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/jsangho/cloud.jsangho.www.git
[submodule "vault"]
	path = vault
	url = https://github.com/jsangho/cloud.jsangho.docs.git
